
<div class="row">
    <div class="col">

        <div class="alert alert-danger" *ngIf="apiError">{{ apiError }}</div>
        <h5 class="card-title">Latest Movies</h5>

        <div class="row">

            <div class="col-4" *ngFor="let film of films">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card border-0">
                        <img class="card-img-top" src="{{ film.image }}" alt="{{ film.name }}">
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ film.name }}</h5>
                            <p class="card-text">
                            Ticket Price: ${{ film.price }} <br>
                            Rating: {{ film.rating }} <br>
                            Release Date: {{ film.date }} <br>
                            Genre: 
                            <span *ngFor="let genre of film.genres">
                                <a href="films/genre/{{ genre.slug }}">{{ genre.name }}</a> 
                            </span> <br>
                            
                            </p>
                            <p class="card-text">{{ film.details }}</p>
                            <a href="films/{{ film.slug }}" class="btn btn-primary btn-sm">details</a>
                        </div>
                        </div>
                </div>
            </div>
            
            
        </div>
        


    </div>
</div>

